<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width:280px;">
	<a class="d-flex align-items-center link-dark text-decoration-none">
		<span class="fs-4 text-primary">Menu</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			
				<a class="nav-link active" asp-action="UserDashboard" asp-controller="Dashboard" aria-current="page" style="font-size:2.5vh;">
					<i class="fa-solid fa-house-user" style="font-size:3vh">&nbsp; &nbsp;</i>Dashboard
				</a>
		</li>
		<li class="nav-item">

			<a class="nav-link active" asp-action="UserInformation" asp-controller="Dashboard" aria-current="page" style="font-size:2.5vh;">
				<i class="fa-solid fa-clock" style="font-size:3vh">&nbsp; &nbsp;</i>TimeSheet
			</a>
		</li>
		<li>
			<a class="nav-link active" asp-action="UserLeaveRequest" asp-controller="Dashboard" aria-current="page" style="font-size:2.5vh;">
				<i class="fa-solid fa-mug-hot" style="font-size:3vh">&nbsp; &nbsp;</i>Leave Requests
			</a>
		</li>
		<li>
			<a class="nav-link active" asp-action="DisplaybroadcastMessage" asp-controller="Dashboard" aria-current="page" style="font-size:2.5vh;">
				<i class="fa-solid fa-tower-broadcast" style="font-size:3vh">&nbsp; &nbsp;</i>Broadcasts
			</a>
		</li>
	</ul>
	<hr>

</div>