@{
    ViewData["Title"] = "Home Page";
}
<style>
    .fa-solid.fa-star {
        color: gold;
    }

</style>
<div class="container-fluid">

<div class="row">
    <div class="col-1">   </div>
        <div class="col-10">   </div>
           <div class="d-flex justify-content-center " style="margin-top:15vh">
            <p class="text-center"><span style="font-size:10vh"><b>Discover <span class="text-primary">REMS</span></b></span><br /> <span style="font-size:3vh"> The All-in-One Solution for Optimizing Team Efficiency, <br />Enhancing Communication, and Streamlining Project Delivery</span></p>
           </div>  
         <span class="d-flex justify-content-center"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span>
        <span class="d-flex justify-content-center p-4 align-items-center" style="height:100%"><a class="btn btn-primary" asp-controller="Login" asp-action="SignUp"     style="font-size:2vh;padding:1em 2em">Sign-Up Now !</a></span>
        <div id="Features">
            <div class="d-flex justify-content-center" style="margin-top:10vh">
                <span class="text-primary" style="font-size:2.5em"><b><u>Features</u></b></span>
                <br />
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-5">
                                <span class="text-primary" style="font-size:1.5em"><b>Time Tracking</b></span>
                                <p>REMS's intuitive time tracking feature empowers you to effortlessly monitor your work hours across different projects. With easy-to-use timers and project categorization, you can accurately track time spent on each task, ensuring precise billing and efficient project management. Say goodbye to manual time tracking and embrace a seamless, automated solution with REMS.</p>
                            </div>
                            <div class="col-5 d-flex justify-content-center">
                                <img src="~/clock-removebg-preview.png" height="200px"width="200px" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-5 d-flex justify-content-center">
                                <img src="/tasklist.png" height="200px" width="200px" />

                                 </div>
                            <div class="col-5">
                                <span class="text-primary" style="font-size:1.5em"><b>To-Do List</b></span>
                               <p>Stay organized and focused with REMS's customizable to-do list feature. Whether you're managing multiple projects or juggling various tasks, our intuitive interface allows you to create, prioritize, and manage your to-do lists effortlessly. With flexible sorting options and deadline reminders, you can ensure that nothing falls through the cracks and stay on top of your workload with ease.</p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-5 ">
                                <span class="text-primary" style="font-size:1.5em"><b>URL Capturing</b></span>

                                <p>Gain insights into employee productivity and internet usage with REMS's URL capturing feature. Admins can monitor website activity during work hours, allowing them to identify potential distractions and areas for improvement. With detailed reports and analytics, you can track website visits, analyze browsing patterns, and optimize productivity across your team.</p>

                            </div>
                            <div class="col-5 d-flex justify-content-center">
                                <img src="~/logo-google-chrome-internet-4797.png" height="200px" width="200px" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-5 d-flex justify-content-center">
                                <img src="~/pngtree-screenshot-line-vector-single-icon-image_319663-removebg-preview.png" height="200px" width="200px" />
                            </div>
                            <div class="col-5 ">
                                <span class="text-primary" style="font-size:1.5em"><b>Periodic Screenshot Capturing</b></span>

                                <p>Ensure transparency and accountability in remote work environments with REMS's screenshot capturing feature. Admins can randomly capture screenshots from employee devices, providing visibility into work activities and promoting adherence to company policies. By capturing snapshots at regular intervals, you can verify work progress, monitor task completion, and maintain a productive work environment</p>
                            </div>
                            
                        </div>
                        <div class="row mt-5">
                           
                            <div class="col-5 ">
                                <span class="text-primary" style="font-size:1.5em"><b>Statistical Data</b></span>

                                <p>Unlock actionable insights into your team's performance and resource utilization with REMS's statistical data analysis tools. Our comprehensive reporting features allow admins to track key metrics, identify trends, and make data-driven decisions. With customizable dashboards and advanced analytics, you can gain a deeper understanding of your team's productivity levels, project progress, and resource allocation.</p>
                            </div>
                            <div class="col-5 d-flex justify-content-center">
                                <img src="~/3589863.png" height="200px" width="200px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>

        <!--Pricing-->
        <div id="pricing">
       <div class="d-flex justify-content-center" style="margin-top:10vh">

                <span class="text-primary" style="font-size:2.5em"><b><u>Pricing Options</u></b></span>
            <br />
        </div>
        <div class="justify-content-evenly d-flex align-items-start mt-3">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                    <h5 class="card-title"><i class="fa-regular fa-gem"></i>&nbsp; <span class="text-primary"> <b>Basic Pack</b></span></h5>
                    <p class="card-text">Our Basic Pack is perfect for startups and small teams looking to kickstart their time tracking journey with essential features.</p>
            </div>
            <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4">Time tracking for up to 10 users</li>
                    <li class="list-group-item px-4">Basic project management tools</li>
                    <li class="list-group-item px-4">Standard integrations</li>
                    <li class="list-group-item px-4">Email support</li>

                    <li class="list-group-item px-4">Standard reporting features</li>

            </ul>
            <div class="card-body">
                    <a class="card-link btn btn-primary d-flex justify-content-center" asp-action="Signup" asp-controller="Login">$50/month &nbsp;</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                    <h5 class="card-title"><i class="fa-regular fa-gem"></i><i class="fa-regular fa-gem"></i>&nbsp; <span class="text-primary"> <b>Pro Pack</b></span></h5>
                    <p class="card-text">Upgrade to our Pro Plan for enhanced functionality and expanded capabilities, designed to meet the needs of growing businesses and teams.</p>
            </div>
            <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4">Time tracking for unlimited users</li>
                    <li class="list-group-item px-4">Advanced project management features</li>
                    <li class="list-group-item px-4">Premium integrations</li>
                    <li class="list-group-item px-4">Priority email support</li>

                    <li class="list-group-item px-4">Customizable reporting and analytics</li>

                    <li class="list-group-item px-4">Dedicated account manager</li>

            </ul>
            <div class="card-body">
                    <a class="card-link btn btn-primary d-flex justify-content-center" asp-action="Signup" asp-controller="Login">$150/month &nbsp; </a>

            </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-regular fa-gem"></i><i class="fa-regular fa-gem"></i><i class="fa-regular fa-gem"></i>&nbsp; <span class="text-primary"> <b>Custom Pack</b></span></h5>
                    <p class="card-text">Tailored to fit your unique requirements, our Custom Plan offers flexibility and personalized solutions for enterprises and large organizations.</p>
                </div>
                <ul class="list-group list-group-light list-group-small">
                    <li class="list-group-item px-4">Fully customizable package</li>
                    <li class="list-group-item px-4">Enterprise-grade security and compliance</li>
                    <li class="list-group-item px-4">Custom integrations and API access</li>
                    <li class="list-group-item px-4">24/7 priority support with SLA</li>

                    <li class="list-group-item px-4">Dedicated onboarding and training</li>

                    <li class="list-group-item px-4">Strategic account management</li>

                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-primary d-flex justify-content-center" asp-action="Signup" asp-controller="Login">Let's Talk &nbsp;<i class="fa-regular fa-handshake"></i></a>

                </div>
            </div>
            </div>
        </div>
        <div id="AboutUs">
            <div class="d-flex justify-content-center" style="margin-top:10vh">
                <span class="text-primary" style="font-size:2.5em"><b><u>About Us</u></b></span>
                <br />
            </div>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class ="d-flex justify-content-center">
                                <img src="~/Logo.png" height="200px" width="200px" />
                        </div>
                         
                                <p class="mt-5">
                                    At REMS, we're dedicated to revolutionizing the way teams work together. With a focus on simplicity, efficiency, and collaboration, our platform empowers businesses of all sizes to optimize their workflows and maximize productivity. From intuitive time tracking tools to seamless project management features, we provide comprehensive solutions designed to meet the diverse needs of modern workplaces.<br /><br />

                                    Our mission is to enable teams to work smarter, not harder. With years of experience in the industry, we understand the challenges of remote work and the importance of transparent communication and accountability. That's why we've built REMS to streamline time tracking, enhance collaboration, and drive results.<br /></br>

                                    Backed by a team of passionate professionals, we're committed to delivering exceptional value to our users. Whether you're a small startup or a large enterprise, REMS is here to support your journey towards greater efficiency and success. Join us and experience the difference REMS can make for your team today.
                                </p>
                      
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>

        <div class="col-1 "></div>

</div>
</div>
